/** @format */

/* CSS reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* General styles */

:root {
	--white: hsl(0, 0%, 100%);
	--slate-300: hsl(212, 45%, 89%);
	--slate-500: hsl(216, 15%, 48%);
	--slate-900: hsl(218, 44%, 22%);
}

html {
	font-size: 62.5%;
	/* Google fonts' declarations */
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	text-align: center;
}

/* Page styles */

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--slate-300);
	font-size: 1.5rem;
}

.qr-card {
	background-color: var(--white);
	width: 24rem;
	padding: 1.2rem 1.2rem 2rem;
	/* below padding is from figma */
	/* padding: 16px 16px 24px; */
	font-size: 1.35rem;
	border-radius: 1.5rem;
}

img {
	display: block;
	max-width: 100%;
	border-radius: 1rem;
	margin-bottom: 1.6rem;
	/* below declarations are from from figma */
	/* border-radius: 10px; */
	/* margin-bottom: 24px; */
}

.text-description {
	/* figma has no padding for this element */
	padding: 0 0.35em 1.6rem;
}

h1 {
	margin-bottom: 1.2rem;
	color: var(--slate-900);
	/* below declarations are from figma */
	/* font-size: 22px;
	line-height: 120%;
	letter-spacing: 0; 
    margin-bottom: 16px */
}

.text-description p {
	color: var(--slate-500);
	/* below declarations are from figma */
	/* 
    font-size: 15px;
    line-height: 140%;
    letter-spacing: .2px */
}
