/** @format */

/* CSS reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* General styles */

:root {
	--white: hsl(0, 0%, 100%);
	--slate-300: hsl(212, 45%, 89%);
	--slate-500: hsl(216, 15%, 48%);
	--slate-900: hsl(218, 44%, 22%);
}

html {
	font-size: 62.5%;
	/* Google fonts' declarations */
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	text-align: center;
}

/* Page styles */

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--slate-300);
	font-size: 1.5rem;
}

.qr-card {
	background-color: var(--white);
	width: 32rem;
	padding: 1.6rem 1.6rem 4.4rem;
	border-radius: 1.5rem;
}

img {
	display: block;
	max-width: 100%;
	border-radius: 1rem;
	margin-bottom: 2rem;
}

.text-description {
	padding: 0 0.5rem;
}

h1 {
	font-size: 2.2rem;
	margin-bottom: 1.2rem;
	color: var(--slate-900);
}

.text-description p {
	color: var(--slate-500);
	word-spacing: 1.8px;
}
